<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="video_style.css">
  <%- mycss2.style %>
</head>

<body>
  <div class='top'>
    <h1>Today routine finish.</h1>
  </div>

  <div class='finishmsg'>
    <h1>루틴결과안내</h1>
  </div>
</body>

</html>