<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="background.css">
    <%- mycss.style %>
</head>
<script lagnuage='javascript'>
    function test() {
        alert("success");
    }
</script>
<body>
    <div class="loginmsg">
        <h1>Hello</h1>
        <h1>Login Please</h1>
    </div>
</body>