<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="background.css"type="text/css" >
<%- mycss.style %>
</head>
<script lagnuage='javascript'>
   
</script>
<body>
    <div class="top">
        <div class="top_name">
            <h1>Welcome <%= userName %>!</h1>
        </div>
        <div class="img_smile">
            <img src="smile.png" width="100" height="100">  
        </div>
        <div class="top_con">
            <h1><%= concent_part %></h1>
        </div>

        <div class="img_angry">
            <img src="sad.png" width="100" height="100">
        </div>
        <div class="top_weak">
            <h1><%= weak_part %></h1>
        </div>
    </div>
    <div class="left">
        <h1>Your Goal</h1>
        <table class="tb">
            <thead>
                <tr>
                    <th scope="cols"></th>
                    <th scope="cols">Weight (Kg)</th>
                    <th scope="cols">Muscle (%)</th>
                    <th scope="cols">Body Fat (%)</th>
                </tr>
    </div>
    <div class="right">
        <h1>Start Workout</h1>
        <h1>Take a Picture</h1>
        <h1>My Data</h1>
    </div>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		//var host = 'http://192.168.0.102:3030';
		var host = require('externals.js').MYADDR;
		var socket = io();
		
		socket.emit('main', 'msg from main.ejs');

		socket.on('main', funciton(msg){
			
			if (msg == 'WORKOUT')
				location.replace(host + '/routine');
			if (msg == 'TAKEPIC')
				location.replace(host + '/takepic');
			if (msg == 'MYDATA')
				location.replace(host + '/mydata');
		});
	</script>
</body>
