<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="background.css"type="text/css" >
<%- mycss.style %>
</head>
<script lagnuage='javascript'>
   
</script>
<body>
    <div class="top">
        <div class="top_name">
            <h1>Welcome <%= name %>!</h1>
        </div>
        <div class="img_smile">
            <img src="smile.png" width="100" height="100">  
        </div>
        <div class="top_con">
            <h1>Upper Body</h1>
        </div>

        <div class="img_angry">
            <img src="sad.png" width="100" height="100">
        </div>
        <div class="top_weak">
            <h1>None</h1>
        </div>
    </div>
    <div class="left">
        <h1>Your Goal</h1>
        <table class="tb">
            <thead>
                <tr>
                    <th scope="cols"></th>
                    <th scope="cols">Weight (Kg)</th>
                    <th scope="cols">Muscle (%)</th>
                    <th scope="cols">Body Fat (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Start</th>
                    <td>54.5</td>
                    <td>30</td>
                    <td>30.3</td>
                </tr>
                <tr>
                    <th scope="row">Current</th>
                    <td>52.3</td>
                    <td>32</td>
                    <td>27.3</td>
                </tr>
                <tr>
                    <th scope="row">Goal</th>
                    <td>49</td>
                    <td>36</td>
                    <td>25</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right">
        <h1>Start Workout</h1>
        <h1>Take a Picture</h1>
        <h1>My Data</h1>
    </div>
</body>
