<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="mydata.css">
    <%- mycss3.style %>

	<script>
		document.getElementById("test").innerHTML = "hhhheeeeeeeyyyyyyyyyyy"
	</script>
   
    <body>
        <div class='top'>
          <h1>Setting</h1>
        </div>
      
        <div class='menu'>
          <h1>1. Setting</h1>
          <h1>2. Body Pictures</h1>
          <h1>3. Data</h1>
        </div>
      </body>

</html>
