<!doctype html>
<html>
<head>
</head>

<body>
	<h1>routine tmp page</h1>
	<p id="text">TEXT</p>
	<p id="result"><%=result%></p>
</body>

<script>
	document.getElementById("text").innerHTML = '<%=myaddr%>';
</script>

</html>
