<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="mydata.css">
    <%- mycss3.style %>
   
    <body>
        <div class='top'>
          <h1>Setting</h1>
          <div class="img_smile">
            <img src="smile.png" width="100" height="100">  
        </div>
        <div class="top_con">
            <h1>Upper Body</h1>
        </div>

        <div class="img_angry">
            <img src="sad.png" width="100" height="100">
        </div>
        <div class="top_weak">
            <h1>None</h1>
        </div>
        </div>
      
        <div class='leftsection'>
          <h1>Prefered Part</h1>
          <table class="tb">
            <thead>
              <tr>
                  <th scope="cols">1. Chest</th>
                  <th scope="cols">2. Back</th>
              </tr>
          </thead>
            <tbody>
                <tr>
                    <th scope="row">3. Legs</th>
                    <th scope="row">4. Side</th>
                </tr>
                <tr>
                    <th scope="row">5. Bally</th>
                    <th scope="row">6. Hip</th>
                </tr>
            </tbody>
        </table>
        </div>
        <div class='rightsection'>
          <h1>Avoid Part</h1>
          <table class="tb">
            <thead>
              <tr>
                  <th scope="cols">1. Knee</th>
                  <th scope="cols">2. Ankle</th>
              </tr>
          </thead>
            <tbody>
                <tr>
                    <th scope="row">3. Neck</th>
                    <th scope="row">4. Wrist</th>
                </tr>
                <tr>
                    <th scope="row">5. Waist</th>
                    <th scope="row"></th>
                </tr>
            </tbody>
        </table>
        </div>
      </body>

</html>