<!doctype html>
<html>
<head>
<!--
    <meta charset="utf-8">
    <link rel="stylesheet" href="video_style.css">
-->
    <%- mycss2.style %>
</head>
<body>
    <div class="top">
        <h1>Follow pose and Stand at Footprint.</h1>
    </div>
    <div class='bodypicpose'>
    <h1 id="time"> 사진을 찍을 준비를 해주세요.<h1>
	<img id="body" src="none.png" width="1000" height="700">
    
    </div>
    <div class="count">
        <div id="span"></div>
    </div>
<script src="/socket.io/socket.io.js"></script>
<script >
/*
    var SetTime = 5;		// 최초 설정 시간(기본 : 초)
    function msg_time() {	// 1초씩 카운트
        m = Math.floor(SetTime % 60);	// 남은 시간 계산
        var msg = "<font color='red'>" + m + "</font>";
        var span = document.getElementById("span");
        span.style.fontSize = "250px";
        span.innerHTML = msg;		// div 영역에 보여줌 
        SetTime--;					// 1초씩 감소
        if (SetTime < 0) {			// 시간 종료
            clearInterval(tid);
            //setTimeout(function () {  }, 5000);
        }
    }
    window.onload = function TimerStart() { tid = setInterval('msg_time()', 1000) };
*/
		var host = 'http://' + '<%=myaddr%>';
		var socket3 = io();
		var image = document.getElementById('body'); 
		socket3.on('takepic',function(msg){
			if(msg != "0")
				document.getElementById("time").innerHTML = msg;
			else{ 
				document.getElementById("time").innerHTML = "사진을 완료하였습니다.";
				image.src = "smile.png";
			}
		});
		
		var where = '';
		socket3.on('recog', function(msg){
			if (msg == 'MAIN'){
				where = '/main';
				socket3.emit('replace', where);
			}	
		});
		socket3.on('disconnect', function(msg){
			location.replace(host + where);
		});

</script>
</body>


</html>
